@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@1,500&family=Cinzel+Decorative&family=Graduate&family=Mate+SC&family=Playfair+Display+SC&display=swap");
body {
  margin: 0px;
}
/*part 1*/

.part-1 {
  background-image: url("./assets/landing.jpg");
  background-size: cover;
}
/*Logo*/

.logo {
  padding: 150px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-style: "alegreya sc";
}

.bold {
  font-weight: bold;
}
/*part 2-Drinks, Breakfast, Lunch and Dinner Menu*/

.part-2 {
  display: flex;
  text-align: center;
  color: white;
}
.hours {
  width: 25%;
  height: 200px;
}
.meal {
   width: 25%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#meal-1 {
  background-image: url('./assets/breakfast.jpg');
}
#meal-2 {
  background-image: url('./assets/lunch.jpg');
}
#meal-3 {
  background-image: url('./assets/dinner.jpg');
}
#h1 {
 
 background-color: lightgrey;
 padding: 20px;
}
#h2 {
   background-color: #F15A29;
    padding: 20px;
}
/* part 3-information on Fast foods and Drinks photos */
/* Fast Food information */
.part-3 {
  padding: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 211px;
}
.fastFoodRow {
  display: flex;
  flex-direction: row;
}

.fastFood {
  padding: 20px;
  margin-left: 25px;
  text-align: left;
  justify-content: center;
  align-items: center;
}
.drinksInfoRow {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: right;
  margin-right: 25px;
}

.fastFood > h3,
.fastFood > h4,
.drinksInfo > h3,
.drinksInfo > h4 {
  font-weight: bold;
  font-family: 'Alegreya+SC' sans-serif;
}
.fastFoodPhotos {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid rgba(211, 211, 211, 0.44);
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.14);
}
.drinksInfoPhotos {
  padding: 20px;
  border: 2px solid rgba(211, 211, 211, 0.44);
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.fastFoodPhotos > img,
.drinksInfoPhotos > img {
  margin: auto;
  text-align: center;
}
.btn {
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  color: #f15a29;
  border: 1px solid #f15a29;
}
/*Part-4 navigation tabs*/
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
}
.part-4 {
  text-align: center;
  background-image: url("./assets/foodsBg.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-clip: border-box;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
}

.navigation-list {
  width: 80%;
  margin: auto;
}

.navigation-tabs {
  background-color: lightgrey;
  font-size: 16px;
  margin-bottom: -0.1%;
  text-decoration: none;
}

.navigation-tabs > .active {
  background-color: white;
  border-bottom: 0;
}

.navigation-tabs li {
  border-left: 1px solid #777;
  border-bottom: 1px solid #777;
  text-align: center;
  padding: 25px 100px 25px 100px;
}
#arrow {
  align-items: center;
  color: #f15a19;
  font-size: 70px;
}
.daily-meals {
  background-color: white;
}

.daily{
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.meal-name {
  color: #f15a19;
}
/* part-5 testimonials*/
.part-5{
  display: flex;
 border: 2px solid rgba(211, 211, 211, 0.44);
 box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.14);
  padding-left:30px;
  padding-right:30px;
  margin: 25px 50px 25px 50px;
}
.customers{
  text-align: center;
  padding: 0 100px 0 30px;
  
}
.header {
  color: #f15a19;
}

.border {
  border: 2px solid rgba(211, 211, 211, 0.44);
  height: 200px;
  margin: 10px 0 10px;
}
.about{
padding: 0 30px 0 100px;
  text-align: center;
}
.text {
  color: solid rgba(211, 211, 211, 0.44);;
}
.customers span {
  align-items: center;
  font-size: 70px;
}
/*Section 6 Styles*/
.section-6{
    background-image: url('./assets/subscribe.jpg');
    color: white;
    padding: 70px;
    text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.subscriptions{
    display: flex;
    justify-content: space-around;
    width: 48%;
    margin-left: 350px;
    text-align: center;
}
.section-6 p{
    text-align: center;
    font-size: 20px;
}
.subscriptions p{
    text-align: center;
}
.email{
    background-color: slategrey;
    opacity: 0.5;
    width:130px;
    padding-right: 40%;
    margin-right: 40px;
    border-radius: 5px;
}
.subscribe{
    background-color: #F15A29;
    width: 150px;
    border-radius: 5px;
}
.subscribe p{
    text-align: center;
}

/*Section 7 Styles: Footer*/

.section7 {
  background-color: #f15a29;
}

.footer {
  width: 30%;
  margin: auto;
  padding-top: 1px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.footer > img {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
.footer h5 {
  font-size: 40px;
  font-style: "alegreya sc";
}

#copyright {
  font-size: 14px;
}
