@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@1,500&family=Cinzel+Decorative&family=Graduate&family=Mate+SC&family=Playfair+Display+SC&display=swap");
body {
  margin: 0px;
}
/*part 1*/

.part-1 {
  background-image: url("/assets/landing.jpg");
  background-size: cover;
  margin-left: -10%;
  margin-right: -10%;
}
/*Logo*/

.logo {
  padding: 150px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-style: "alegreya sc";
}

.bold {
  font-weight: bold;
}
/*part 2-Drinks, Breakfast, Lunch and Dinner Menu*/

/*.part-2 {
      text-align: center;
      color: white;
      font-style: italic;
      font-size: 20px;
      display: flex;
      flex-direction: row;
  }*/

.row-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 20px;
  height: fit-content;
  padding-left: 20%;
  margin-left: -20%;
}
.row {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 20px;
  width: fit-content;
  margin-top: -1.3%;
  justify-content: stretch;
}

/*@media (min-width: 992px) {
      .col-md-3 {
          padding-left: 0;
          padding-right: 0;
      }
  }*/

.happyhour {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: lightgrey;
  margin-bottom: -37%;
}

.partytime {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f15a29;
}

#breakfast {
  background-image: url("/assets/breakfast.jpg");
  background-size: cover;
  padding: 100px;
}

#lunch {
  background-image: url("/assets/lunch.jpg");
  background-size: cover;
  padding: 100px;
  position: relative;
}

#dinner {
  background-image: url("/assets/dinner.jpg");
  background-size: cover;
  padding: 100px;
}

/*#dinner:hover,
#lunch:hover,
#breakfast:hover {
  color: #f15a29;
  opacity: 0.7;
  filter: alpha(opacity=70);
}*/
/* part 3-information on Fast foods and Drinks photos */
/* Fast Food information */
.part-3 {
  padding: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 211px;
}
.fastFoodRow {
  display: flex;
  flex-direction: row;
}

.fastFood {
  padding: 20px;
  margin-left: 25px;
  text-align: left;
  justify-content: center;
  align-items: center;
}
.drinksInfoRow {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: right;
  margin-right: 25px;
}

.fastFood > h3,
.fastFood > h4,
.drinksInfo > h3,
.drinksInfo > h4 {
  font-weight: bold;
  font-family: 'Alegreya+SC' sans-serif;
}
.fastFoodPhotos {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid rgba(211, 211, 211, 0.44);
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.14);
}
.drinksInfoPhotos {
  padding: 20px;
  border: 2px solid rgba(211, 211, 211, 0.44);
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.fastFoodPhotos > img,
.drinksInfoPhotos > img {
  margin: auto;
  text-align: center;
}

/*.drinksInfoPhoto2 {
  float: right;
}*/

.btn {
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  color: #f15a29;
  border: 1px solid #f15a29;
}
/*Section 4 Styles*/
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
}
.part-4 {
  margin-left: -10%;
  margin-right: -10%;
  text-align: center;
  background-image: url("/assets/foodsBg.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-clip: border-box;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
}

.navigation-list {
  width: 80%;
  margin: auto;
}

.navigation-tabs {
  background-color: lightgrey;
  font-size: 16px;
  margin-bottom: -0.1%;
  text-decoration: none;
}

.navigation-tabs > .active {
  background-color: white;
  border-bottom: 0;
}

.navigation-tabs li {
  border-left: 1px solid #777;
  border-bottom: 1px solid #777;
  text-align: center;
  /*padding-left: 100px;
  padding-right: 100px;*/
  padding: 25px 100px 25px 100px;
}

a {
  color: black;
}

.navigation-tabs > li.active > a,
.navigation-tabs > li.active > a:hover,
.navigation-tabs > li.active > a:focus {
  color: #f15a19;
}

.tab-content {
  background-color: white;
}

.carousel-inner {
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.food-name {
  color: #f15a19;
}

.item {
  float: left;
  margin: 10px;
}

.carousel-control {
  opacity: 1;
  color: #f15a19;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
/* part-5 testimonials*/
.name {
  color: black;
}

.part5 > .row {
  width: 80%;
  margin: 50px auto;
  border: 2px solid #ddd;
  box-shadow: 0px 0px 5px lightgrey;
  padding: 40px;
}

.customers {
  margin: auto;
  text-align: center;
  padding: 20px;
}

.note {
  color: #f15a29;
  font-weight: bold;
}

.carousel-inner > .item > img {
  margin: auto;
}

#testimonials .carousel-inner {
  padding: 0px;
}

.carousel-indicators {
  display: none;
}

.item h5 {
  margin-top: 1px;
}
/* Styles for customer testimonials carousel*/

/*.carousel-inner .item.left.active {
      transform: translateX(-33%);
  }
  
  .carousel-inner .item.right.active {
      transform: translateX(33%);
  }
  
  .carousel-inner .item.next {
      transform: translateX(33%)
  }
  
  .carousel-inner .item.prev {
      transform: translateX(-33%)
  }
  
  .carousel-inner .item.right,
  .carousel-inner .item.left {
      transform: translateX(0);
  }*/

.about {
  padding: 20px;
  text-align: center;
  border-left: 2px solid #ddd;
}

.about > h4 {
  color: #f15a29;
  font-weight: bold;
}
/*Section 6 Styles*/

.section6 {
  text-align: center;
  background-image: url("/assets/subscribe.jpg");
  background-size: cover;
  color: white;
  font-size: 20px;
  margin-left: -10%;
  margin-right: -10%;
  padding: 80px;
}

.form-group {
  width: 50%;
  margin: auto;
}

.section6 p {
  font-size: 30px;
}

input[type="email"] {
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
}

input[type="button"] {
  background-color: #f15a29;
  color: white;
  font-size: 16px;
}

.form-control {
  border: 0;
  border-radius: 2px;
}

.form-control::-moz-placeholder {
  color: white;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: white;
}

.form-control::-webkit-input-placeholder {
  color: white;
}

#output {
  font-size: 20px;
}

.footer .fa {
  margin-right: 15px;
  margin-left: 15px;
}
.rows-2 {
  display: flex;
  flex-direction: row;
}
/*Section 7 Styles: Footer*/

.section7 {
  background-color: #f15a29;
  margin-left: -10%;
  margin-right: -10%;
}

.footer {
  width: 30%;
  margin: auto;
  padding-top: 1px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.footer > img {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
.footer h5 {
  font-size: 40px;
  font-style: "alegreya sc";
}

#copyright {
  font-size: 14px;
}
